<%- include header %>
<% posts.forEach(function (post, index) { %>
  <h2>
  <a href="/u/<%= post.username %>/<%= post.title %>"><%= post.title %></a>
  </h2>
  <p class="info">
    作者: <a href="/u/<%= post.username %>"><%= post.username %></a>
    日期: <%= post.time.toISOString().slice(0, 10) %>
    <% if (post.tags.length > 0) { %>
        标签:
    <% } %>
    <% post.tags.forEach(function(tag, index) { %>
        <a class="tag" href="/tag/<%= tag %>"><%= tag %></a>
    <% }) %>
  </p>
  <p><%- post.text %></p>
<% }) %>
<%- include paging %>
<%- include footer %>