<%- include header %>

<div class="single-wrap">
    <div class="article-wrap">
        <% posts.forEach(function (post, index) { %>
            <div class="article shadow">
                <div class='edit-box'>
                    <% if (user && user.username == post.username) { %>
                        <a href="/edit/<%= post.username %>/<%= post.title %>" class="edit">编辑</a>
                        <a href="/remove/<%= post.username %>/<%= post.title %>" class="edit">删除</a>
                    <% } %>
                </div>
                <div class="pic-wrap">
                    <img src="<%= post.picDir %>" data-picTop="<%= post.picTop %>" alt="" class="banner">
                </div>
                <h3 class="title">
                    <a href="/u/<%= post.username %>/<%= post.title %>"><%= post.title %></a>
                </h3>
                <div class="info">
                    <span class="author">作者: <a href="/u/<%= post.username %>"><%= post.username %></a></span>
                    <span class="date">日期: <%= post.time.toISOString().slice(0, 10) %></span>
                    <span class="pv">共浏览了: <%= post.pv %></span>
                </div>
                <div class="text"><%- post.text %></div>
            </div>
        <% }) %>
    </div>
</div>
<%- include comment %>
<%- include footer %>